# Ignore node_modules directory, if you have one
node_modules/

# Ignore build directory, if you use a build process
dist/
build/

# Ignore logs
logs/
*.log

# Ignore OS and IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Ignore Minified files, if you redeploy the source files
*.min.js
*.min.css

# Ignore environment variables
.env

# Ignore key files
key.pem

dist.zip